/*
Global
*/
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/*
Left Bar
*/
.left-bar-item {
    text-decoration: none;
}
.left-bar-item-icon,
.left-bar-item-title {
    color: #777777;
}
.left-bar-item.active .left-bar-item-icon,
.left-bar-item.active .left-bar-item-title {
    color: #212121;
}
.left-bar-item:not(.active):hover .left-bar-item-icon,
.left-bar-item:not(.active):hover .left-bar-item-title {
    color: #4D4D4D;
}

/*
Slim Scroll Bar
*/
.slim-scrollbar::-webkit-scrollbar {
    width: 10px;
}
.slim-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.slim-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}
.slim-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*
Reactions
*/
.reaction {
    width: 40px;
}
.reaction-icon {
    height: 28px;
    cursor: pointer;
    transition: transform .2s;
    opacity: 1;
}
.reaction-title {
    color: #404040;
}
.reaction:hover > .reaction-icon{
    transform: scale(1.3);
}